$main-height: calc(100vh - 128px);

body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    background-color: black;
    
    a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        transition: 0.3s;
    }
    a:hover {
        color: #69c07e;
    }
}

main {
    flex: 1 0 auto;
    margin: 0 auto;
    position: relative;

    div {
        width: 100vw;
    }
}

footer {
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: white;
    background-color: black;

    img {
        height: 35px;
        width: 35px;
        border: 6px inset #69c07e;
        border-radius: 50%;
        margin: 10px 0;
    }
}

.title {
    font-size: 2em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $main-height;
    min-height: 70vw;
    background-color: black;
    color: white;

    h2 {
        margin: 0 0 20px;
    }

    img{
        width: 100vw;
    }
}

.instructions {

    img {
        position: absolute;
        height: $main-height;
        min-height: 550px;
        min-width: 100vw;
        object-fit: cover;
        right: 0;
        z-index: -1;
    }

    div {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translate(0, -60%);
        padding: 10vh 10vw 0;
        width: 80vw;
        text-align: justify;
        text-align-last: center;
    }
}

.options {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    background-color: black;
    color: white;
    overflow: hidden;

    div {
        width: 360px;
    }

    select {
        float: right;
        width: 200px;
        margin: 0 20px;
    }

    img {
        width: 100vw;
    }
}

.options-wrapper {
    height: $main-height;
    min-height: 400px;
    overflow: hidden;
}

.instructions, .options {
    button {
        margin: 20px 8vw;
        background-color: #3B6C47; /* Green */
        color: white;
        padding: 15px;
        font-size: 14px;
        border-radius: 5px;
    }
    button:hover {
        cursor: pointer;
    }
}

.leaderboard {
    padding: 0 10px;
    width: 100vw;
    text-align: center;

    ul {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        list-style: none;
        padding-inline-start: 0;
        margin-bottom: 100px;
    }

    li {
        font-size: 24px;
        padding: 10px;
    }
}

.bold {
    font-weight: 700;
}

#leaderboard-img {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: -1;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* tablet */
@media (min-width: 768px) {
    .home {
        min-height: 500px;

        img {
            width: 768px;
        }
    }
    
    .options {
        button {
            margin: 0 20vw;
        }
    }
    
    .instructions {
        div {
            width: 50vw;
        }
        img {
            left: -10vh; 
        }
    }

    #full-leaderboard {
        h2 {
            font-size: 2em;
        }
        
        ul {
            height: 250px;
        }
    }
}

/* desktop */
@media (min-width: 1024px) {
    .instructions {
        img {
            left: 0; 
        }
    }
    #full-leaderboard {
        display: flex;
        align-items: center;
        justify-content: center;
        
        h2 {
            font-size: 2.5em;
            position: relative;
            left: -150px;
            top: -50px;
        }
    }
}