html, body, #root {
    height: 100%;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    background-color: black;
    
    a {
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        transition: 0.3s;
    }
    a:hover {
        color: #69c07e;
    }
}

header {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
    div {
        padding: 0;
    }
}

footer {
    flex-shrink: 0;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: white;
    background-color: black;

    img {
        height: 35px;
        width: 35px;
        border: 6px inset #69c07e;
        border-radius: 50%;
        margin: 10px 0;
    }
}

.title {
    font-size: 2em;
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vw;
    background-color: black;
    color: white;

    h2 {
        margin: 0 0 20px;
    }

    img{
        width: 100vw;
    }
}

.instructions {
    height: 100%;
    min-height: 550px;

    img {
        height: 100%;
        position: absolute;
        height: 90%;
        width: 130vw;
        left: -30vw;
        object-fit: cover;
        right: 0;
        z-index: -1;
    }

    div {
        float: right;
        margin: 0 10vw;
        width: 80vw;
        text-align: justify;
        text-align-last: center;
    }

    p {
        font-size: 18px;
    }
}

.options {
    height: 100%;
    padding-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    select {
        float: right;
        width: 200px;
        margin: 0 20px;
    }

    img {
        width: 100vw;
    }

    .inner-options {
        width: 350px;
        padding: 0 10vw;
    }
}

.button {
    margin: 20px 8vw;
    background-color: #3B6C47;
    color: white;
    padding: 15px;
    font-size: 14px;
    border-radius: 5px;
}
.button:hover {
    cursor: pointer;
}

.leaderboard {
    text-align: center;

    ul {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        list-style: none;
        padding-inline-start: 0;
    }

    li {
        font-size: 24px;
        padding: 10px;
    }
}

.bold {
    font-weight: 700;
}

#full-leaderboard {
    min-height: 620px;

    ul {
        margin-bottom: 100px;
    }
}

#leaderboard-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

#root {
    display: flex;
    flex-direction: column;
}

/* tablet */
@media (min-width: 768px) {
    .home {
        min-height: 500px;

        img {
            width: 768px;
        }
    }
    
    .options {
        button {
            margin: 0 20vw;
        }
    }
    
    .instructions {
        img {
            width: 120vw;
            left: -20vw;
        }
        
        div {
            width: 60vw;
        }
    }

    #full-leaderboard {
        padding-top: 5vh;
        min-height: 500px;

        h2 {
            font-size: 2em;
        }
        
        ul {
            height: 250px;
        }
    }
}

/* desktop */
@media (min-width: 1024px) {
    .instructions {
        img {
            width: 110vw;
            left: -10vw;
        }

        div {
            width: 55vw;
        }
    }
    #full-leaderboard {
        min-height: 550px;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        h2 {
            font-size: 2.5em;
            position: relative;
            left: -150px;
            top: -50px;
        }
    }
}