body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    background-color: black;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.3s;
}

nav > a:hover {
    color: #69c07e;
}

main {
    padding: 0 20px 20px;
    background-color: white;
    flex: 1 0 auto;
    max-width: 1400px;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: white;
    background-color: black;
    padding-bottom: 15px;
}

.title {
    font-size: 2em;
}

.logo {
    height: 35px;
    width: 35px;
    border: 6px inset #69c07e;
    border-radius: 50%;
    margin: 5px 5px;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer-company {
    display: flex;
    align-items: center;
    margin: 0 10px -15px;
}

#footer-quote {
    margin: 15px 10px 0;
}

/* tablet */
@media (min-width: 768px) {
    
}

/* desktop */
@media (min-width: 1024px) {

}